h2{
     padding-left : 20px;
}
#div{
    margin-left: 470px;
    margin-top: 163px;
}
#div2{
    margin-left: 470px;
    margin-top: 163px;
        margin-left: 470px;
    margin-top: 163px;
    background: cadetblue;
    padding: 20px;
    /* align-content: center; */
    font-size: x-large;
    border-radius: 20px;
    color: floralwhite;
    font-family: sans-serif;
    width: fit-content;
}

.weatherform{
     font-family: 'Poppins','sans-serif';
     font-size : 24px;
}

#weatherform{
     padding : 20px;
}

#weathersubmit{
    color: white;
    background: rebeccapurple;
    padding: 5px 20px;
    margin-top: 20px;
}